source https://api.nuget.org/v3/index.json
nuget Akkling 0.9.3 restriction: >= net461
nuget Akkling.Streams 0.9.3 restriction: >= net461
nuget C5 restriction: >= net461
nuget CsvHelper restriction: >= net461
nuget FParsec 1.0.4-RC restriction: >= net461
nuget FsPickler 5.2.0 restriction: >= net46
nuget System.ValueTuple restriction: >= net461
nuget NewtonSoft.Json restriction: >= net461
nuget Expecto >= 7.0.0 restriction: >= net461
nuget FSharp.Configuration
