source https://api.nuget.org/v3/index.json
nuget Akkling
nuget Akkling.Streams
nuget C5
nuget CsvHelper
nuget FParsec
nuget FsPickler
nuget System.ValueTuple
nuget NewtonSoft.Json
nuget Expecto
nuget FSharp.Configuration
